{{- /* themes/am-mindmeld/layouts/shortcodes/timelineItem.html */ -}}
{{- /* args: header (required), badge (optional), subheader (optional), icon (optional, ignored), anchor (optional) */ -}}
{{- $header := .Get "header" -}}
{{- $badge := .Get "badge" -}}
{{- $subheader := .Get "subheader" -}}
{{- $anchor := .Get "anchor" | default (anchorize $header) -}}
<section{{ with $anchor }} id="{{ . }}"{{ end }} class="timeline-item-shim">
  <div class="timeline-item-shim__header">{{ $header }}</div>
  {{ with $subheader }}<div class="timeline-item-shim__subheader">{{ . }}</div>{{ end }}
  {{ with $badge }}<div class="timeline-item-shim__badge">{{ . }}</div>{{ end }}
  <div class="timeline-item-shim__body">{{ .Inner }}</div>
</section>
