{{- /* themes/am-mindmeld/layouts/partials/bento-cell.html */ -}}
{{- /* params: path, src, caption, span, aspect, href */ -}}
{{- $path := .path -}}
{{- $src := .src -}}
{{- $caption := .caption | default "" -}}
{{- $span := .span | default 1 -}}
{{- $aspect := .aspect | default 1 -}}
{{- $href := .href | default ("/gallery/" | relURL) -}}

{{- $useAssetPath := false -}}
{{- $resolvedFullSrc := "" -}}
{{- if $path -}}
  {{- $useAssetPath = true -}}
  {{- $img := resources.Get $path -}}
  {{- if $img -}}{{- $resolvedFullSrc = $img.RelPermalink -}}{{- end -}}
{{- else if $src -}}
  {{- $stripped := strings.TrimPrefix "/" $src -}}
  {{- $maybeAsset := resources.Get $stripped -}}
  {{- if $maybeAsset -}}
    {{- $path = $stripped -}}
    {{- $useAssetPath = true -}}
    {{- $resolvedFullSrc = $maybeAsset.RelPermalink -}}
  {{- else -}}
    {{- $resolvedFullSrc = $src -}}
  {{- end -}}
{{- end -}}

<a class="bento-cell bento-cell--span-{{ $span }}"
   href="{{ $href }}"
   data-src="{{ $resolvedFullSrc }}"
   data-caption="{{ $caption }}"
   style="aspect-ratio: {{ printf "%v" $aspect | safeCSS }};">
  {{- if $useAssetPath -}}
    {{ partial "responsive-image.html" (dict "path" $path "alt" $caption "class" "bento-cell__img") }}
  {{- else -}}
    <img src="{{ $src }}" alt="{{ $caption }}" loading="lazy" class="bento-cell__img">
  {{- end -}}
  {{ with $caption }}<span class="bento-cell__caption">{{ . }}</span>{{ end }}
</a>
